name: First Workflow
on: workflow_dispach
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: echo "Hello World"
      - name: Print goodbye
        run: echo "Goodbye!"
