name: Matrix Demo
on: push
jobs:
  build:
    strategy:
      matrix:
        python-version: [ '3.11', '3.12', '3.13' ]
        operating-system: [ ubuntu-latest, windows-latest ]
        include:
          - python-version: '3.11'
          - operating-system: ubuntu-latest
        exclude:
          - python-version: '3.11'
          - operating-system: windows-latest

    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Get Code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build
        run: echo "Building project..."
