name: Test Project
on: push
jobs: 
  tests: 
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Install dependencies
        run: pip install pytest
      - name: Run tests
        run: pytest test.py -s
